.graphs {
  position: absolute;
  bottom: 2.25rem;
  right: 0.75rem;
  display: flex;
  flex-flow: column;
  align-items: end;
  gap: 0.75rem;
}

.linegraph {
  height: 2rem;
  width: 4rem;
  border: var(--border);
  overflow: hidden;
  display: flex;
  align-items: center;

  .line {
    height: 1px;
    width: 5rem;
    background-color: #000000;
    opacity: 0.3;
    transform-origin: 50%;
    animation: lineanim 1s infinite alternate-reverse ease-in-out;
  }
}

.bargraph {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 6rem;
  height: 2rem;
  border: var(--border);

  .bar {
    height: 2.5rem;
    width: 1px;
    background-color: #000000;
    opacity: 0.3;
  }

  .bar:nth-child(even) {
    animation: baranim 1s infinite alternate-reverse ease-in-out;
  }

  .bar:nth-child(odd) {
    animation: baranim 1s 0.3s infinite alternate-reverse ease-in-out;
  }
}

.graphinfo {
  position: absolute;
  display: flex;
  bottom: 2.25rem;
  right: -2.75rem;
  gap: 0;

  .graphgraph {
    height: 4.75rem;
    width: 2rem;
    direction: rtl;
    border: var(--border-info);
    background-color: #00000011;
    display: grid;
    place-items: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;

    p {
      padding: 0;
      margin: 0;
      padding-right: 0.1rem;
      letter-spacing: -4px;
      font-size: 0.9rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: #00000077;
    }
  }

  .graphlinks {
    display: flex;
    flex-flow: column;
    height: 4.75rem;
    width: 0.75rem;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
}



/* ANIMATION */
@keyframes baranim {
  0% {
    height: 0;
  }

  100% {
    height: 3rem;
  }
}

@keyframes lineanim {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(15deg);
  }
}