@import './graphs.css';
@import './topology.css';

@font-face {
  font-family: "mono";
  src:
    url("../mononoki-Regular.otf") format("opentype"),
}

:root {
  --color: #ff000099
}


* {
  box-sizing: border-box;
  font-family: 'mono';
}

body {
  /* font-family: monospace; */
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #cdf;
  overflow: hidden;
}

/* p {
  opacity: 0.6;
} */

.ui {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  gap: 1rem;
  margin: auto;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  background-color: var(--color);
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: background-color 0.3s;
  border-top-right-radius: 0.5rem;
}

.data {
  position: relative;
  height: 40rem;
  width: 40rem;
  border: 1px solid #000000;
  border-top-right-radius: 0.5rem;
  transition: width 0.3s;
}

.maininfo {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: end;
  margin: 0;
  padding: 0.75rem 1ch;
  top: -1px;
  gap: 0.5rem;
  left: -9ch;
  width: 9ch;
  /* border: 1px solid #00000055; */
  border-right: none;
  /* background-color: #00000011; */
  border-top-left-radius: 1rem;

  p {
    font-size: 0.9rem;
    opacity: 0.5;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
  }
}

.main {
  position: absolute;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0.75rem;
  gap: 0.5rem;

  p {
    text-decoration: underline;
    width: 100%;
    font-size: 1.05rem;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
  }
}

.nav {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: absolute;
  /* right: 0.25rem; */
  right: 0;
  top: 0.5rem;
}

.typeinfo {
  position: absolute;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0.25rem 1ch;
  border-bottom-right-radius: 1rem;
  top: calc(0.5rem);
  gap: 0.5rem;
  right: -10ch;
  width: 10ch;
  border: 1px solid #00000055;
  border-left: none;
  background-color: #00000011;

  p {
    font-size: 0.8rem;
    opacity: 0.5;
    line-height: 1rem;
    margin: 0;
    padding: 0;
  }
}

.type {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0.25rem;
  gap: 0.5rem;
  border: 1px solid #000000;
  border-right: none;

  p {
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
  }
}

.path {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0.25rem;
  gap: 0rem;
  border: 1px solid #000000;
  border-top: none;

  p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    color: #00000070;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.coords {
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  box-sizing: border-box;
  overflow: hidden;
  gap: 1rem;

  p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    width: 16ch;
    overflow: hidden;
    color: #00000070;
  }
}

.index {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: fit-content;
  gap: 0;

  p {
    width: fit-content;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    margin: 0;
  }

  span:not(#index) {
    display: block;
    width: 1px;
    height: 1rem;
    background-color: #000000;
  }

  #index {
    padding-right: 1ch;
  }
}

.spectralinfo {
  display: flex;
  align-items: center;
  background-color: #00000011;
  border: 1px solid #00000055;
  position: absolute;
  height: 2rem;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  p {
    font-size: 0.9rem;
    padding: 0 1rem;
    opacity: 0.5;
  }
}

.controls {
  /* position: absolute; */
  /* bottom: -3rem; */
  left: 0;
  right: 0;
  width: 40rem;
  justify-content: center;
  justify-content: space-between;
  display: flex;
  transition: width 0.3s;
}

button {
  pointer-events: initial;
  padding: 0 1rem;
  height: 2.5rem;
  outline: none;
  cursor: pointer;
  background-color: var(--color);
  border: none;
  border: 1px solid #000000;
  font-size: 1rem;
  transition: background-color 0.3s, padding 0.2s;

  &:hover {
    padding: 0.5rem 3rem;
  }

  & span {
    color: #00000070;
  }
}

/* RESPONSIVE */
@media (max-width: 1250px) {
  .controls {
    width: 95vw;
  }

  .data {
    width: 95vw;
    height: calc(100vh - 7rem);
  }

  .desktop {
    display: none;
  }
}