@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
  box-sizing: content-box;
}

body {
  font-family: "Sixtyfour", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  overflow: hidden;
}

.info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.dot {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-color: red;
  height: 20rem;
  width: 20rem;
  opacity: 0.2;
  backdrop-filter: invert(70%);
  backdrop-filter: blur(50px);
  border-radius: 100%;
  z-index: 100;
}

.controls {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

button {
  pointer-events: initial;
  padding: 1rem 2rem;
  outline: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  background-color: #ff000030;
  border: none;
  font-family: "Sixtyfour", system-ui;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  border-radius: 30px;
}

h1 {
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  font-size: 8rem;
  line-height: 5rem;
  padding: 0 0.25rem;
  margin: 0;
  font-weight: 400;
  position: absolute;
  /* color: #ff000030; */
}

.num {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50vh;
  line-height: 50vh;
  padding: 0 0.25rem;
  margin: 0;
  opacity: 0.1;
  font-weight: 400;
  position: absolute;
}